<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral,&#xA;PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TaxPaymentsGEL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/ErrorPages/Oops.aspx">
      <error statusCode="404" redirect="~/ErrorPages/Oops.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <appSettings>
    <add key="UrlACH" value="https://200.1.124.118/PSEWebServices3/mainservices.asmx" />
    <add key="PSE_URL" value="https://200.1.124.118/PSEWebServices3/mainservices.asmx" />
    <add key="PPE_URL" value="https://181.143.126.122:11210/RespuestaPago.aspx" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    
    <add name="oCnx" connectionString="Data Source=DESKTOP-MO89OOC\SQLDLLO;  Initial Catalog=DB_PAYMENT_TRANSACTIONS; Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <microsoft.web.services3>
    <security>
      <x509 allowTestRoot="true" revocationMode="NoCheck" />
    </security>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
      <detailedErrors enabled="true" />
    </diagnostics>
    <policy fileName="wse3policyCache.config" />
  </microsoft.web.services3>
</configuration>